@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
:root{
    --blue:#3498DB;
    --primary:#20284D;
    --secondary:#fff;
    --tertiary:#F8F9FF;
    --fourth:#95A5A6;
    --sixth:#8C9499;
    --seventh:#EDEFF5;
    --black:#1E1E1E;
    --red:#FB4343;
    --orange:#FF7A5C;
    --golden:#F7B017;
    --green:#00FF0A;
    --dark-green:#00AC07;
    --orange-shadow:0px 0px 0px 4px #FF7A5C1A;
    --green-shadow:0px 0px 0px 4px #00FF0A29;
    --blue-shadow:0px 0px 0px 4px #3498DB29;
    --gray-shadow:0px 0px 0px 4px #95A5A629;
}
*{
    font-family: "Inria Sans", sans-serif !important;
}
.body-wrapper{
    background: var(--primary);
}
.main-content-area{
    background: var(--secondary);
    color: var(--black);
    margin: 8px 24px;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 24px;
    max-height: 84vh;
    overflow-y: auto;
}
.sidebar-list{
    padding: 0px;
    padding-left: 10px !important;
    margin-top: 35px;
}
.sidebar-item{
    background: var(--secondary);
    height: 47px;
    width: 190px;
    color: var(--primary);
    border-radius: 10px 0px 0px 10px;
}
.sidebar-item a{
    padding: 14px 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.18px;
    text-align: left;
    color: var(--primary);
}
.dashboard-title{
    font-size: 32px;
    font-weight: 400;
    line-height: 38.37px;
    text-align: center;
    color: var(--secondary);
    margin-top: 35px;
}
.nav-links-bar{
    margin-left: 38px;
}
.nav-links-bar li{
    margin:0px 24px;
}
.status-dot{
    width: 14px;
    height: 14px;
    margin-right: 15px;
    background-color: var(--sixth);
    box-shadow: var(--gray-shadow);
    border-radius: 50%;
}
.status-dot.active{
    background-color: var(--green);
    box-shadow: var(--green-shadow);
}
.status-dot.info{
    background-color: var(--blue);
    box-shadow: var(--blue-shadow);
}
table{
    border: 1px solid var(--seventh) !important;
    border-radius: 8px !important;
}
table thead tr th{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.18px;
    text-align: left;
    color: var(--primary);
    
}
table tbody tr td{
    font-size: 14px;
    font-weight: 400;
    line-height: 16.79px;
    text-align: left;
    color: var(--primary);
}
table thead, table thead tr, .table-header, table thead tr th{
    background: var(--seventh) !important;
    background-color: var(--seventh) !important;
}
.table-header tr th, td{
    padding: 12px !important;
}
table tbody tr, table thead tr{
    margin: 0px 16px !important;
}
.table-header tr th:first, td:first{
    padding-left: 24px !important;
    padding-right: 0px !important;
}
.table-header tr th:first-child, td:first-child{
    padding-left: 24px !important;
    padding-right: 0px !important;
}
.table-header tr th:last-child, td:last-child{
    padding-left: 24px !important;
    padding-right: 0px !important;
}
.main-content-heading{
    font-size: 32px;
    font-weight: 700;
    line-height: 38.37px;
    text-align: left;
    margin-bottom: 16px;
}
.filter-area{
    margin-bottom: 24px;
}
.search-field{
    background: var(--tertiary);
    width: 100%;
    height: 52px;
    padding: 16px 20px 16px 20px;
    border-radius: 100px;
    margin-right: 16px;
}
.search-field img{
    margin-right: 16px;
}
.search-field input{
    border:none;
    outline: none;
    background: transparent;
    width: 100%;
}
.filter-area .dropdown a{
    padding: 15px 20px 15px 20px;
    font-family: Inria Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.18px;
    text-align: center;
    background: var(--secondary);
    color:var(--primary);
    border-radius: 50px;
    border: 1px solid var(--seventh);

}
.return-button-x{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid var(--seventh) !important;
    background: var(--secondary) !important;
    border-radius: 50px !important;
    outline: none !important;
}
.heading-tagline{
    font-size: 14px;
    font-weight: 300;
    line-height: 16.79px;
    text-align: left;
    color:var(--sixth);
    margin-top: 8px;
}
.card-box{
    padding: 20px;
    border-radius: 20px;
    border: 1px solid var(--seventh);
}
.card-box .title{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.18px;
    text-align: left;
    color:var(--black);
}
.card-box .mini-taglines{
    font-size: 14px;
    font-weight: 300;
    line-height: 16.79px;
    text-align: left;
    color:var(--sixth);
}
.card-box .title.heading{
    font-size: 24px;
    font-weight: 700;
    line-height: 28.78px;
    text-align: left;
    color: var(--black);
}
.card-box .sub-heading{
    font-size: 20px;
    font-weight: 400;
    line-height: 23.98px;
    text-align: left;
    color:var(--black);
}
.card-box .divider{
    width: 100%;
    text-align: center;
    align-items: center;
    align-self: center;
    height: 2px;
}
.card-box .paragraph{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--sixth);
}
.text-input{
height: 45px !important;
padding: 14px 10px 14px 10px !important;
border-radius: 10px !important;
border: 1px solid var(--sixth) !important;
margin-top: 5px;

}